
html{
	background-image: url(../images/bats.gif);
}
body {
	font-family: sans-serif;
	width: 95%;
    max-width: 960px;
	border: 3px solid black;
	box-shadow: 0 10px 10px 10px black;
	margin: 0 auto;
    padding: 0;
	background-color: white;
    display: grid;
    grid-template: 30% auto / 1fr;
    grid-template: auto auto auto auto / 1fr;
    grid-template-areas: "header" "navi" "main" "footer";
}

a { font-weight: bold; }
a:link { color: orange; }
a:hover, a:focus { color: green; }
a:visited { color: #f2972e;}
li, p { padding-bottom: .3em }
em { font-weight: bold; }

header{
	text-align: left;
	border-bottom: solid black;
	line-height: .25em;
	padding: .5em;
	background-image: linear-gradient(45deg, white 5%, orange 60%, black 100%);
    font-weight: bold;
    grid-area: header;
    
}
header img{
	padding: 0 .5em;
	float: left;
    min-width: 40px
}
header h2{
	padding-bottom: 0;
	font-size: 215%;
}
header h3{
	Font-weight: bold;
}
#nav_menu {
    grid-area: navi;
}
#nav_menu ul{
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    grid-template: auto / repeat(5, 1fr);

    
}
#nav_menu ul li {
    float: left;
    width: 20%;
}
#nav_menu ul li a{
    text-align: center;
    background-color: #2a2a2a;
    color: white;
    padding: 1em 0;
    font-weight: bold;
    display: block;
    text-decoration: none;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
    padding: 0;
    margin-top: 0;
}
#nav_menu ul li:hover > ul {
	display: block;
    background-color: #818181;
}
#nav_menu > ul::after{
    content: "";
    display: block;
    clear: both;
}

#nav_menu a.current{
    color: orange;
}

main {
    grid-area: main;
    line-height: 1em;
    display: grid;
    grid-template: auto / 30% auto;
    grid-template-areas: "aside section";
   
}
main h1{
	font-size: 150%;
    line-height: 1em;
}
main h1::first-letter{
	font-size: 200%;
}
main p{
	padding-bottom: .02em;
}
.catpic{
    grid-area: catpic;
}
.catheader{
    grid-area: chead;
}
.desc{
    grid-area: desc;
}
section{
    grid-area: section;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 1fr;
    grid-template-areas: 
        "chead . right"
        "catpic desc right"
        ;
}
.leftarea {
    grid-area: right;
    background-color: #F5DEB3;
    padding: 1em;
}
.leftarea h3{
    font-size: 90%;
}
.inner {
    padding-left: 1em;
}
.inner a{
    font-size: 80%;
    color: black;
    margin-bottom: .2em;
}
.leftarea img{
    width: 30%;
    height: auto;
}
.leftarea a:hover{
    color: blue;
}


section img{ min-width: 40px; }
aside{
    list-style-type: none;
    grid-area: aside;
}

#prod_list ul{
    list-style-type: none;
    padding: 1em;
}
#prod_list ul li{
    list-style-type: none;
    margin-top: .25em;
    width: 125px;;
    border: 2px solid black;
    padding: .5em;
    background-color: orange;
}
#prod_list ul li a{
    text-decoration: none;
    color: black;   
}


footer {
    grid-area: footer;
	text-align: center;
	padding: 1em 0 1em 0;
	font-size: 80%;
	border-top: solid black;
    clear: both;
	background-image: linear-gradient(45deg, black 5%, orange 60%, white 100%);
}
#mobile_menu {
    display: none;
}
@media only screen and (max-width: 800px){
    html{ background-image: none; }
    body{ 
        box-shadow: none;
        font-size: 90%;
    }
}

@media only screen and (max-width: 767px) {
    header { text-align: center;}
    header img { float: none; }
    main{
        display: grid;
        grid-template: auto auto / 1fr;
    }
    section {
        grid-area: section;
        padding: 1em;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
    aside {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        grid-area: aside;
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }
    aside ul{
       
    }
    aside ul li{
        text-align: center;
    }
    article img {
        max-width: 30%;
    }
    #nav_menu {
        display: none;
    }

    #mobile_menu {
        display: block;
    }

    .slicknav_menu {
        background-color: #2a2a2a !important;
    }
}

@media only screen and (max-width: 479){
    header{ font-size: 90%;}
    main h1{ font-size: 80%; }

}