/* the styles for the elements */

*{
	margin: 0;
	padding: 0; }
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 98%;
    max-width: 960px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

a { font-weight: bold; }
a:link { color: #931420; }
a:hover, a:focus { color: blue; }
a:visited { color: #f2972e;}

ul { line-height: 1.5; padding-left: 1.25em;  padding-bottom: .25em; }
li, p { font-size: 95%; padding-bottom: .35em }
em { font-weight: bold; }

/* the styles for the header */
header{
	border: 3px solid #931420;
	padding: 1.5em 0 2em 0;
	background-image: linear-gradient(30deg, #ffb70f 0%, #ffb70f 30%, white 50%, #ffb70f 80%, #ffb70f 100%);
}
header img {
    float: left;
    padding: 0 3.75%;
}
header h2 {
    color: #931420;
	text-shadow: 2px 2px 2px black;	
}

header h3 {
	font-size: 130%;
	font-style: italic;
}

#nav_menu ul{
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
}

#nav_menu ul li { flex-basis: 20%;}
#nav_menu li a{
    text-align: center;
    padding-top: 1em 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #800000;
    display: block;
}
#nav_menu a.current{
    color: #FFFF00 ;
}

#nav_menu ul ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	
    padding: 0;
    margin-top: 0;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after{
    content: "";
    display: block;
   
}
/* the styles for the main content */
main { 
    padding: 5px;
    flex-direction: column;
}
main h2 { font-size: 130%;
	padding: .5em 0 .25em 0;
 }
main h3{
	 padding-bottom: .25em;
 }
main img{
	padding-bottom: 1em;
}
main p{
	padding-bottom: .5em;
}
main blockquote{
	padding: 0 2em 0 2em;
	font-style: italic;
}
main section ul{
    list-style-type: circle;
}
article{
    padding: .5em 0 .5em 0;
    border-top: 2px solid #800000; 
    border-bottom: 2px solid #800000; 
}
article h1{
    font-size: 150%;
    padding: .5em 0 .25em 0;
    margin: 0 0 0 0;
}

article img{
    max-width: 40%;
    min-width: 150px;
    float: right;
    margin: 2px 0 2px 2px;
    border: 1px solid black;
}
article h2{
    padding-top: 0;
}
article h3{
    font-size: 105%;
    padding-bottom: .245em;    
}

section{
    order: 1;
	flex-basis: 70%;
	
}
section h1{
    font-size: 150%;
}
section h2{
    color: #931420;
    font-size: 130%;
}

aside {
    flex-basis: 30%;
    order: 2;
    padding: 0 20px 20px 0;
}
aside h2{
    color: #931420;
    font-size: 130%;
}
aside h3{
    font-size: 105%;
    padding-bottom: .25em;
}
aside img{
    padding-bottom: 1em;
}

main p.indent { text-indent: 2em; }
main a.date_passed { color: gray; }

.shadow {
    text-shadow: 2px 2px orange;
}

/* the styles for the footer */
footer p {
	font-size: 90%;
	text-align: center;
	border: 3px solid #931420;
	background-color: #931420;
	padding: 1em 0 1em 0;
	color: white;
	
}
#mobile_menu {
    display: none ;
}
@media only screen and (max-width: 959px){
    section h1 {
        font-size: 130%;
    }
    section h2{
        font-size: 120%;
    }
    aside h2{
        font-size: 120%;
    }
}

@media only screen and (max-width: 767px){
    header{
        text-align: center;
    }
    header img{
        float: none;
    }
    main{ flex-direction:column;}
    section{ float: none; order:1;}
    aside{
        order: 2;
        float: none; 
        padding: 0% 2.5%;
        width: 95%
    }
    aside div{
        column-count: 2;
    }
    article img{ max-width: 30%; } 
    #nav_menu{ display: none;}
    #mobile_menu{ display: block; }
    .slicknav_menu{ background-color: #800000 !important;}
}

@media only screen and (max-width: 479px){
    body{ font-size: 90%; }
}


